http://localhost:8080 {
    encode gzip
    log {
        output file /var/log/caddy/access.log {
            roll_size 10MB
            roll_local_time
            roll_keep 5
            roll_compress
        }
        format json
    }

    handle_path /static/* {
        root * "/srv/static/"
        file_server
    }

    # Proxy all other requests to Gunicorn
    reverse_proxy api:8000
}